<div class="post type-post status-publish hentry format-{{ article.format }}
        {% for tag in article.tags %} tag-{{ tag }}{% endfor %} 
        {% for category in article.categories %} category-{{ category}}{% endfor %}">

  {% if article.thumbnail %}
    <div class="featured-media">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">
        <img src="{{ article.thumbnail }}" alt="{{ article.title }}">
      </a>
    </div> <!-- /featured-media -->
  {% endif %}        
    
  <div class="post-inner">
    <div class="post-header">
        <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
        <div class="post-meta">
          <span class="post-date"><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">{{ article.date }}</a></span>
          <span class="date-sep"> / </span>
          <span class="post-author">{{ article.author }}</span>
          <span class="date-sep"> / </span>
          <a href="{{ SITEURL }}/{{ article.url }}">Comments</a>
        </div>
    </div> <!-- /post-header -->
                                                                
    <div class="post-content">
      {{ article.content }}
    </div> <!-- /post-content -->              
    <div class="clear"></div>
  </div>
</div> <!-- /post -->