{% extends "base.html" %}

{% block content %}
    <div class="page-title">
        {% if articles_page.has_previous()  %}
            <h4>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</h4>
        {% endif %}
    </div>
    <div class="posts">
        {% for article in articles_page.object_list %}
            {% include "_post.html" %}
        {% endfor %}        
    </div> <!-- /posts -->

    <div class="archive-nav">
        {% if articles_page.has_previous()  %}
            <a class="post-nav-older" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo; Older posts</a>
        {% endif %}

        {% if articles_page.has_next() %}
            <a class="post-nav-newer" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Newer posts &raquo;</a>
        {% endif %}
        <div class="clear"></div>
    </div> <!-- /post-nav archive-nav -->
    
{% endblock %}
